html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}
body{
  background-color:rgb(247, 248, 243);
}

header {
  background-color: #26d0c9;
  color: #fff;
  height: 100px;
  padding: 180px 0 100px 0;
  background-image: url("/blob/main/1609054862254%20(2).jpg");
  background-size: cover;
  color: white;
  text-align: center;

}

.header-logo {
  font-size: 30px;
  padding: 10px 40px;
  float: left;
}

.header-list li {
  padding: 33px 20px;
  float: left;
}

.copy-container {
  padding: 100px 80px;

}

.copy-container h1 {
  font-size: 120px;

}

.copy-container h2 {
  font-size: 60px;
}

span {
  color: red;
}

.contents{
  height: 500px;
  padding: 100px 80px;
 }

 .section-title h3{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
}

.contents-list{
  float: left;

}
.contents-item{
  float: left;
  padding: 50px 40px 30px 0;
}

.contact-form{
  padding: 0px 100px 100px 100px;
}

.section-title{
  border-bottom: 2px solid #dee7ec;
  
}



input,textarea{
  width: 400px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit{
  background-color: #dee7ec;
  color: #889eab;
}

footer{
  background-color: rgb(7, 81, 87);
  color: azure;
  height: 120px;
}

.footer-logo{
  float: left;
  font: size 60px ;
  padding: 20px 0 20px 20px;
}
.footer-list {
  float: right;
  font-size: 20px;
  padding: 10px 50px 10px 0;
}
